    <div class="credits text-center">
        <p>
            <a href="http://github.com/adeojoemmanuel">ALC with google task</a>
        </p>
        <p>
            <a href="http://github.com/adeojoemmanuel">By::: adeojo emmanuel</a>
        </p>
    </div>
</body>
</html>