<h1>My Account</h1>
<div class="form-container">
    <div class="container">
	  <h2>students Table</h2>
	  <p>list of all student in the database</p>            
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Firstname</th>
	        <th>Lastname</th>
	        <th>Email</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td ng-model="vm.user"></td>
	        <td ng-model="vm.user"></td>
	        <td ng-model="vm.user"></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
